.Header {
    max-width: 100%;
}

.Background {
    background-color: #102754;
    color: #FFFFFF;
}

.orgLogo {
    background-color: #007bff;
    cursor: pointer;
}

.menuList {
    margin: auto;
}

.profile {
    text-align: end;
    margin: auto;
}