.Employees {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.addEmployeeBtn {
    float: right;
}

.notification {
    position: absolute;
    top: 10%;
    right: 2%;
    min-width: 200px;
    text-align: center;
    color: white;
}